

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 2vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
    font-size: 3vw;
  }
}

@media  (max-width: 480px) {
  body {
    font-size: 3.25vw;
  }

}
